<div class="content">
	<header>
		<ul class="head">
			<li class="active" id="topline">
				<a>头条</a>
			</li>
			<li id="subscribe"><a href="#!subscr">订阅</a></li>
			<li id="search">
				<a href="search.html"><img src="img/homes.png"/></a>
			</li>
		</ul>
	</header>
	<div class="carousel">
		<ul class="banner">
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
		</ul>
		<ul class="point">
			<span class="active"></span>
		</ul>
	</div>
	
	<div class="topline" ng-app="hmd" ng-controller="homecont">
		<ol class="news">
		 	<li ng-repeat="v in list">
		 		<a href="{{v.surl}}" class="link">
		 			<img src="{{v.thumb}}" />
					<div class="info">
						<h6>{{list.title}}</h6>
					    <span class="media">{{v.media}}</span>
						<p><img src="img/comment.png" class="comment"/>
							<span>{{v.comment_count_show}}</span>
							<img src="img/remove.png" class="remove"/>
						</p>
					</div>
		 		</a>
		 	</li>
		</ol>
	</div>
</div>
