<div class="content">
	<header>
		<ul class="head">
			<li class="active" id="topline">
				<a>头条</a>
			</li>
			<li id="subscribe"><a href="#!subscr">订阅</a></li>
			<li id="search">
				<a href="search.html"><img src="img/homes.png"/></a>
			</li>
		</ul>
	</header>
	<div class="carousel">
		<ul class="banner">
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
			<li><img src="img/banner.png" alt="" /></li>
			<li><img src="img/control.png" alt="" /></li>
		</ul>
		<ul class="point">
			<span class="active"></span>
		</ul>
	</div>
	
	<div class="topline">
		<ol class="news">
		</ol>
	</div>
</div>
